{% extends "base.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}"> {% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <label>Username</label><br>
    <input type="text" name="username"><br><br>

    <label>Password</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Log In</button>
</form>

<p class="signup-text">
    Don't have an account?
    <a href="{% url 'signup' %}">Sign Up</a>
</p>

{% endblock %}